input {

    padding: 10px;
    width: 100%;

}

textarea {

    padding: 10px;
    height: 80px;
    width: 100%;
}


.sair {
    border-style: none;
    background-color: inherit;
    color: var(--color-white);
}

.postar {
    width: fit-content;
    padding: 12px;
    border-style: none;
    background-color: var( --color-brand-1);
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;

}

.seguir {
    background-color: var(--color-white);
    padding: 5px 20px;
    border: 1px solid;
    cursor: pointer;

}

.abrir-post {

    border-style: none;
    background-color: var(--color-1);
    color: var(--color-white);
    padding: 10px;
    cursor: pointer;

}

.like {
    margin-left: -35px;
}

.seguindo {
    border-style: none;
    background-color: var(--color-brand-1);
    color: var(--color-white);
}